<?xml version="1.0" encoding="utf-8"?>
<SPDisposeCheckSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IsOn>false</IsOn>
  <Debug>false</Debug>
  <V1>false</V1>
  <ShowUndocumented>false</ShowUndocumented>
  <OnlyUndocumented>false</OnlyUndocumented>
  <TreatProblemsAs>Errors</TreatProblemsAs>
  <ExecuteAfterBuild>true</ExecuteAfterBuild>
</SPDisposeCheckSettings>